*{margin: 0; padding:0;
box-sizing: border-box;}


.nav-link {
    color: white !important;
}

#home {
    background: linear-gradient(rgba(38, 39, 44, 0.8), rgba(42, 44, 48, 0.8)), url(../images/IMG_20221201_170632.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
 }
 .btn-brand {
    background-color: #A73535;
    color: #fff;
 }
 .btn-brand:hover {
    background-color: #832727;
    color: #fff;
 }

 .section-intro {
    text-align: center;
    margin-bottom: 60px;
 }
 
 .section-intro .hline {
    width: 120px;
    height: 2px;
    background-color: #A73535;
    margin: 16px auto 0 auto;
 }

 .icon-box {
    width: 60px;
    height: 60px;
    background-color: #A73535;
    color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    flex: none;
 }

#sell{
    background-color: rgba(0, 0, 0, 0.832);
    padding: 3%;
}


.about-border {
    display: block;
    width: 80px;
    height: 3px;
    background: #A73535;
    margin: 20px auto;
}

.footer-top {
    background-color: #A73535;
    padding-top: 80px;
    padding-bottom: 30px;
 }
 
 .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
 }
 
 footer .footer-links a,
 footer .social-icons a {
    color: white;
    text-decoration: none;
 }
 
 footer .social-icons a {
    font-size: 24px;
 }
 
 footer .footer-links a {
    display: block;
    font-weight: 400;
 }
 
 footer .social-icons a:hover,
 footer .footer-links a:hover {
    color: black;
 }